<nav ngbDropdown class="navbar container navbar-expand-md navbar-light fixed-top bg-light mat-elevation-z4 app-navbar">
  <div class="container">
    <a class="navbar-brand " routerLink="/">
      <!-- <img height="45px" src="http://www.vijayavipanchi.org/Images/VijayavipanchiLogo.gif" alt='Vijayavipanchi'
         class="responsive"> -->
      VV
    </a>
    <a ngbDropdownToggle class="btn btn-navbar navbar-toggler" data-toggle="collapse" data-target=".nav-collapse">
      <span class="navbar-toggler-icon"></span>
    </a>

    <div ngbDropdownMenu style="padding:10px;">
      <menu-links></menu-links>
    </div>

    <div class="collapse navbar-collapse " id="navbarCollapse">
      <menu-links class="ml-auto"></menu-links>
    </div>

  </div>

</nav>