
<div class="row">
  <div class="col-md-6">
    <!-- <form #f="ngForm" (ngSubmit)="save(f.value)" > -->
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" >
        <div class="form-group">
          <mat-form-field >
            <input placeholder="Name" matInput #name="ngModel" ngModel name="name" id="name" type="text"  required>
            <mat-error *ngIf='name.touched && name.invalid'> Name is required. </mat-error>
          </mat-form-field>          
        </div>

        <div class="form-group">
          <mat-form-field >
            <input placeholder="Email" matInput #email="ngModel" ngModel name="email" id="email" type="text"  required email>
            <mat-error *ngIf='email.touched && email.invalid'>
              <mat-error *ngIf="email.errors.required">
                  Email is required.
              </mat-error>
              <mat-error *ngIf="!email.errors.required && email.errors.email">
                  Email is Invalid.
              </mat-error>
            </mat-error>
          </mat-form-field>          
        </div>

        <div class="form-group">  
          <mat-form-field >
            <mat-select placeholder="Subject" #subject="ngModel" ngModel name="subject" id="subject" type="text"  required>
              <mat-option *ngFor="let subject of subjectTypes" [value]="subject.subject_id">
                {{ subject.subject_type }}
              </mat-option>
            </mat-select>
          
            <mat-error *ngIf='subject.touched && subject.invalid'> Subject is required. </mat-error>
          </mat-form-field>

        </div>
        <div class="form-group">
          <mat-form-field >
            <textarea  placeholder="Message" matInput #message="ngModel"  ngModel name="message" id="message" type="text"  required>
            </textarea>
            <mat-error *ngIf='message.touched && message.invalid'> Message is required. </mat-error>
        </mat-form-field>
        </div>
        <button type="submit" mat-raised-button color="primary" [disabled]='f.invalid' > Submit</button>
      </form>
  </div>
  <div class="col-md-6">
    <div class="card" style="width: 20rem">
      <div class="card-body">
        <h4 class="card-title">
          {{name.value}}
        </h4>
        <h4 class="card-title">
            {{email.value}}
        </h4>
        
        <p class="card-text">
            {{subject.value}}
            <br>
            {{message.value}}
        </p>
        
      </div>
    </div>

  </div>
</div>

